body{
    background-color: #fff;
    padding: 3px;
}


.card{
    border-radius: 2px;
    border: 1px solid lightgrey;
    margin: 3px;
    padding: 20px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    background-color: white;
    float: left;
    min-width: 256px;
    width: 512px;
    max-width: calc(100% - 6px);;
}

.btn-main{
    font-size: 2em;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 200;
    padding: 10px;
}

.btn-main:hover:active{
    /*box-shadow: 0px 2px 10px rgba(0,0,0,.4) inset;*/
    background-color: rgba(255,255,255,1);
    color: black;
    /*border-color: black;*/

}


.btn-main:hover{
    background-color: rgba(255,255,255, 0.1);
    color: white;
}

.mp-form{
    font-size: 2em;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 200;
    padding: 10px;
}

.mp-form:hover{
    background-color: rgba(255,255,255, 0.1);
    color: white;
}

.mp-form:focus{
    background-color: white;
    color: black;
}

.screenshot{
    position: absolute;
    /*border: 1px solid black;*/
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("/assets/images/screen.png");
    background-size: cover;
    /*-webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);*/
}

.btn-circle{
    border-radius: 3px;
    padding: 6px;
    margin-right: 10px;
    border: 1px solid #CCC;
    background-color: #fff;
    /*border-width: 1px;*/
    /*box-shadow: 2px 2px 2px rgba(0,0,0,.5);*/
}

