body{
    background-color: #222222;
    overflow-x: hidden;
}

.module{
    float: left;
    height: calc(100% - 4px);
    width: calc(100% - 4px);

    margin: 2px;
    font-size: 50px;
    background-color: #555555;
    color: #666;

    font-weight: 200;
    cursor: default;
    padding: 20px;
    position: relative;
    border-radius: 2px;
}


.module-container{
    float: left;
    width: 100%;
    padding: 5px;
    background-color: #222;
    height: 100%;
    position: relative;
}

.half-height{
    height: calc(50% - 3px);
}

.half-width{
    width: calc(50% - 2px);
}

.halfw{
    width: calc(50% - 2px);
}

.halfh{
    height: calc(50% - 2px);
}

.nopadding{
    padding: 0;
}
.vertical-text {
    transform: rotate(90deg);

}

#send-box{
    width: 98%;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 1%;
    background-color: #555;
    font-size: 12px;
    overflow: hidden;
    color: white;
    height: 40px;
}

.mine .user{
    color: #ff5555;
}

.user{
    color: #88bbbb;
}

.message{
    border-bottom: 1px solid #666;
    padding: 5px;
    font-weight: 500;
}

.message-text{
    background-color: transparent;
    border:none;
    color: white;
    padding: 0;
    margin: 0;
}

.message-text a{
    color: #80ccff;
}

#send-box input{
    padding: 10px;
    width: calc(100% - 60px);
    margin: 0;
    float: left;
    border: none;
    background-color: transparent;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;

}

#send-box button{
    width: 60px;
    margin: 0;
    float: left;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;

    border-left: 2px solid lightgrey;
}

#chat-log{
    font-size: 12px;
    color: white;
    overflow-y: scroll;
    height: calc(100% - 40px);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.iv-code{
    font-size: 1em;
    font-weight: 600;
    width: 100px;
    margin: 0;
    text-align: center;
    box-shadow: none;

}

@keyframes e {
    from {}
    to {box-shadow: 1px 1px 5px rgba(0,0,0,.3);transform: scale(1.01)}
}