body{
    background-color: #38474F;
    overflow-x: hidden;
}
     #grad1 {
         height: 100%;
         background: #38474F; /* For browsers that do not support gradients */
         background: -webkit-linear-gradient(left, #38474F, black); /* For Safari 5.1 to 6.0 */
         background: -o-linear-gradient(right, #38474F, black); /* For Opera 11.1 to 12.0 */
         background: -moz-linear-gradient(right, #38474F, black); /* For Firefox 3.6 to 15 */
         background: linear-gradient(to right, #38474F, black); /* Standard syntax (must be last) */
     }
     /*Animations*/
@keyframes thumbNailExpand {
    from{background-color:  darkcyan}
    to{background-color: black}
}
    /*Room Assets*/

.roomMain{
    height: 45%;
    width: 75%;
    background-color: #777;
    position: static;
    border-color: #38474F;
    float: left;
}
.roomMainBack{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0,0, .2);
    /*margin: 74px auto 20px 210px;*/
    position: relative;
    margin-right: 400px;
    float: left;
}

.roomHeader{
    border-width: 2px;
    height: 50px;
    width: 99%;
    background-color: white;
    position: absolute;
    margin: 10px 0 0 -49.5%;
    left: 50%;
}
.roomHeaderBack{
    border-width: 2px;
    height: 70px;
    width: calc(100% - 215px);
    background-color: rgba(0, 0,0, .4);
    margin: 5px;
    float: left;
}
    /*Room Side*/
.roomSide{
    height: 20px;
    padding: 10px;
    width: 98%;
    background-color: darkslategray;
    position: relative;
    margin: 10px 0 0 -49%;
    left: 50%;
    border-color: #222222;
    border-radius: 2px;
    border-width: 2px;
    -webkit-transition: height 0.7s; /* For Safari 3.1 to 6.0 */
    transition: height 0.7s;
}
.roomSide:hover{
    height: 100px;
}

.eRoomSide{
    height: 100px;
    padding: 10px;
    width: 98%;
    background-color: darkslategray;
    position: relative;
    margin: 10px 0 0 -49%;
    left: 50%;
    border-color: #222222;
    border-radius: 2px;
    border-width: 2px;
}

.roomSideBack{
    height: calc(100%);
    width: 195px;
    background-color: rgba(0, 0,0, .4);
    margin: 5px auto auto 10px;
    border-radius: 2px;
    float: left;
}
.roomSideTitle{
    height: 20px;
    width: 112%;
    background-color: #333333;
    color: white;
    margin: auto 0px auto -10px;
    position: relative;
    top: 90%;
    float: left;
}
.roomSideTitleMS{
    height: 20px;
    width: 100%;
    background-color: #333333;
    color: white;
    position: relative;
    top: 95%;
    float: left;
}


.roomControls{
    float: left;
    height: calc(100% - 4px);
    width: calc(100% - 4px);

    margin: 2px;
    font-size: small;
    background-color: #333333;
    color: white;

    font-weight: 100;
    cursor: default;
    padding: 20px;
    position: relative;
    border-radius: 2px;
}

.module{
    float: left;
    height: calc(100% - 4px);
    width: calc(100% - 4px);

    margin: 2px;
    font-size: 50px;
    background-color: #696969;
    color: white;

    font-weight: 100;
    cursor: default;
    padding: 20px;
    position: relative;
    border-radius: 2px;
}

.module-container{
    float: left;
    width: 100%;
    padding: 5px;
    background-color: #222;
    height: 100%;
    position: relative;
}

.half-height{
    height: calc(50% - 3px);
}

.half-width{
    width: calc(50% - 2px);
}

.halfw{
    width: calc(50% - 2px);
}

.halfh{
    height: calc(50% - 2px);
}

.nopadding{
    padding: 0;
}
.vertical-text {
    transform: rotate(90deg);

}

#send-box{
    width: calc(100% - 10px);
    position: relative;
    left: 0;
    bottom: 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #555;
    font-size: 12px;
    overflow: hidden;
    color: white;
    height: 40px;
    margin: 5px;
}

.mine .user{
    color: #ff5555;
}

.user{
    color: #88bbbb;
}

.message{
    border-bottom: 1px solid #444;
    padding: 5px;
    font-weight: 500;
    margin: 10px;
}

.message-text{
    background-color: transparent;
    border:none;
    color: white;
    padding: 0;
    margin: 0;
}

.message-text a{
    color: #80ccff;
}

.screen-container{
    min-width: 400px;
    height: 100%;
    width: calc(100% - 250px);
    float: left;
}

.screen{
    position: relative;
    left: 0;
    height: calc(50% - 60px);
    margin: 10px;
    background-color: black;
}

.screen .inner{
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    background-color: transparent;


}

.inner ::-webkit-media-controls{
    display: none !important;
}

#message-input{
    padding: 10px;
    width: calc(100% - 60px);
    margin: 0;
    float: left;
    border: none;
    background-color: transparent;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

#send-box button{
    width: 60px;
    margin: 0;
    float: left;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;

    border-left: 1px solid lightgrey;
}

#file-upload{
    position: absolute;
    margin-left:77%;
    width:11%;
    padding-top: 3%;
}

#file-upload img {
    width:40%;
    cursor: pointer;
}

#file-upload input {
    display: none;
}
#chat-log{
    font-size: 12px;
    color: white;
    overflow-y: scroll;
    height: calc(80%);
}

#chat{
    max-width: 100%;
    padding: 5px;
}

#outerBox{
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.iv-code{
    font-size: 1em;
    font-weight: 600;
    width: 100px;
    margin: 0;
    text-align: center;
    box-shadow: none;

}

.context-menu{
    position: absolute;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
    background-color: #fefefe;
    min-width: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    z-index: 9999999999999999999;
}

.context-menu a{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 3px 20px 3px 20px;

}

.context-menu a:hover{
    background-color: #4286f4;
    color: white;
    cursor: pointer;
}

.context-menu p{
    padding: 5px 20px 5px 20px;

    border-bottom: 1px solid lightgrey;
    width: 100%;
}

.context-menu hr{
    margin: 5px;
}

@keyframes e {
    from {}
    to {box-shadow: 1px 1px 5px rgba(0,0,0,.3);transform: scale(1.01)}
}