body{
    background-color: #38474F;
    overflow-x: hidden;
}
     #grad1 {
         height: 100%;
         background: #38474F; /* For browsers that do not support gradients */
         background: -webkit-linear-gradient(left, #38474F, black); /* For Safari 5.1 to 6.0 */
         background: -o-linear-gradient(right, #38474F, black); /* For Opera 11.1 to 12.0 */
         background: -moz-linear-gradient(right, #38474F, black); /* For Firefox 3.6 to 15 */
         background: linear-gradient(to right, #38474F, black); /* Standard syntax (must be last) */
     }
.roomMain{
    height: 45%;
    width: 75%;
    background-color: #777;
    position: relative;
    margin: 10px 0 0 -37.5%;
    border-color: #38474F;
    left: 50%;
}
.roomMainBack{
    height: 90%;
    width: 60%;
    background-color: rgba(0, 0,0, .2);
    margin: 74px auto 20px 210px;
    position: fixed;
    float: left;
}

.roomHeader{
    border-width: 2px;
    height: 50px;
    width: 99%;
    background-color: white;
    position: absolute;
    margin: 10px 0 0 -49.5%;
    left: 50%;
}
.roomHeaderBack{
    border-width: 2px;
    height: 70px;
    width: 60%;
    background-color: rgba(0, 0,0, .4);
    margin: 5px auto auto 210px;
    position: fixed;
    float: left;
}

.roomSide{
    height: 100px;
    padding: 10px;
    width: 98%;
    background-color: transparent;
    position: relative;
    margin: 10px 0 0 -49%;
    left: 50%;
    border-color: #222222;
    border-radius: 2px;
    border-width: 2px;
}
.roomSideBack{
    height: calc(100% - 20px);
    width: 195px;
    background-color: rgba(0, 0,0, .4);
    margin: 5px auto auto 10px;
    position: fixed;
    border-radius: 2px;
}
.roomSideTitle{
    height: 20%;
    width: 112%;
    background-color: #333333;
    color: white;
    margin: auto 0px auto -10px;
    position: relative;
    top: 90%;
    float: left;
}

.roomControls{
    float: left;
    height: calc(100% - 4px);
    width: calc(100% - 4px);

    margin: 2px;
    font-size: small;
    background-color: #333333;
    color: white;

    font-weight: 100;
    cursor: default;
    padding: 20px;
    position: relative;
    border-radius: 2px;
}


.module{
    float: left;
    height: calc(100% - 4px);
    width: calc(100% - 4px);

    margin: 2px;
    font-size: 50px;
    background-color: #696969;
    color: white;

    font-weight: 100;
    cursor: default;
    padding: 20px;
    position: relative;
    border-radius: 2px;
}

.module-container{
    float: left;
    width: 100%;
    padding: 5px;
    background-color: #222;
    height: 100%;
    position: relative;
}

.half-height{
    height: calc(50% - 3px);
}

.half-width{
    width: calc(50% - 2px);
}

.halfw{
    width: calc(50% - 2px);
}

.halfh{
    height: calc(50% - 2px);
}

.nopadding{
    padding: 0;
}
.vertical-text {
    transform: rotate(90deg);

}

#send-box{
    width: 98%;
    position: relative;
    left: 0;
    bottom: 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 1%;
    background-color: #555;
    font-size: 12px;
    overflow: hidden;
    color: white;
    height: 40px;
}

.mine .user{
    color: #ff5555;
}

.user{
    color: #88bbbb;
}

.message{
    border-bottom: 1px solid #666;
    padding: 5px;
    font-weight: 500;
}

.message-text{
    background-color: transparent;
    border:none;
    color: white;
    padding: 0;
    margin: 0;
}

.message-text a{
    color: #80ccff;
}

#send-box input{
    padding: 10px;
    width: calc(100% - 60px);
    margin: 0;
    float: left;
    border: none;
    background-color: transparent;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

#send-box button{
    width: 60px;
    margin: 0;
    float: left;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;

    border-left: 1px solid lightgrey;
}

#chat-log{
    font-size: 12px;
    color: white;
    overflow-y: scroll;
    height: calc(100% - 40px);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.iv-code{
    font-size: 1em;
    font-weight: 600;
    width: 100px;
    margin: 0;
    text-align: center;
    box-shadow: none;

}

@keyframes e {
    from {}
    to {box-shadow: 1px 1px 5px rgba(0,0,0,.3);transform: scale(1.01)}
}