


.running{
    animation: pulse 1.8s infinite ease-in-out;
}

.sling{
    background-image: url("/assets/images/sling64.png") ;
    background-size: contain;
    animation: 1.1s spin infinite ;
    height: 32px;
    width: 32px;
    display: inline-block;
    position: absolute;
    top: 0;
    filter: hue-rotate(90deg);
}

.ico-area{
    height: 32px;
    width: 32px;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
}

.tname{
    max-width: calc(100% - 42px);
}

.test-fail{
    color: #ff5555;
}

.test-pass{
    color: #55ff55;
}

.assert-fail{
    color: red;
}


@keyframes pulse {
    from{background-color: #80ccff}
    to {background-color: white}
}

body{
    background-color: #fff;
    padding: 3px;
}

.tfile{
    color: #AAA;
}

.timing-value{
    color: #80ccff;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

@keyframes spin {
    from{}
    to{transform: rotate(-720deg)}
}
