RewriteEngine on
RewriteCond %{HTTP:Upgrade} =websocket [NC]
RewriteRule /(.*)           ws://localhost:8001/$1 [P,L]
RewriteCond %{REQUEST_URI} ^[a-zA-Z0-9/]+$
RewriteRule "([a-zA-Z0-9]+)$"  "/rooms/index.php?room=$1"

