RewriteEngine on
RewriteCond %{HTTP:Upgrade} =websocket [NC]
RewriteRule /(.*)           ws://localhost:8001/$1 [P,L]
RewriteCond %{REQUEST_URI} ^[a-zA-Z0-9/-_]+$
RewriteRule "([a-zA-Z0-9-/_]+)?$"  "/api/router.php?resource=$1"

